@model MVCBooktopia.Models.AluguelModel

@{
    ViewData["Title"] = "Novo Aluguel";
}

<h1 class="text-center">Criar Novo Aluguel</h1>

<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataAluguel" class="control-label"></label>
                <input asp-for="DataAluguel" class="form-control" />
                <span asp-validation-for="DataAluguel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" asp-items="ViewBag.ClienteId" class="form-control"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivroId" class="control-label"></label>
                <select asp-for="LivroId" asp-items="ViewBag.LivroId" class="form-control" ></select>
                <span asp-validation-for="LivroId" class="text-danger"></span>
            </div>
            <div class="btn-toolbar text-center" role="group">
                <div class="form-group btn-group w-50 p-3">
                    <input type="submit" value="Adicionar" class="btn text-light" style="background-color:#d98737" />
                </div>
                <hr />
                <div class="btn-group w-50 p-3">
                    <a class="btn" style="color:#d98737; border: 1px solid #d98737;" asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
