@model MVCBooktopia.Models.ClienteModel

@{
    ViewData["Title"] = "Cadastro Cliente";
}

<h1 class="text-center">Cadastro de Cliente</h1>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col">
                   
                    <input asp-for="Nome" class="form-control" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <input asp-for="CPF" class="form-control" placeholder="CPF" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
            </div><br />
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div><br />
            <div class="row">
                <div class="form-group col">
                    <input asp-for="CEP" name="cep" class="form-control" placeholder="CEP" />
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <input asp-for="Cidade" name="cidade"class="form-control" placeholder="Cidade" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
            </div><br />
            <div class="row">
                <div class="form-group col-7">
                    <input asp-for="Logradouro"  class="form-control" placeholder="Logradouro" />
                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <input asp-for="Numero" class="form-control" placeholder="Número"  />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <input asp-for="Bairro"class="form-control" placeholder="Bairro" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
            </div><br />
            <div class="btn-toolbar text-center" role="group">
                <div class="form-group btn-group w-50 p-3">
                    <input type="submit" value="Cadastrar" class="btn text-light" style="background-color:#d98737" />
                </div>
                <hr />
                <div class="btn-group w-50 p-3">
                    <a class="btn" style="color:#d98737; border: 1px solid #d98737;" asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}