@model MVCBooktopia.Models.ClienteModel

@{
    ViewData["Title"] = "Editar Cliente";
}

<h1 class="text-center">Editar Cliente</h1>

<h5 class="text-dark">Você tem certeza que deseja editar o cliente abaixo?</h5>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col">
                   <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="CPF" class="control-label"></label>
                    <input asp-for="CPF" class="form-control" placeholder="CPF" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="CEP" class="control-label"></label>
                    <input asp-for="CEP" class="form-control" placeholder="CEP" />
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input asp-for="Cidade" class="form-control" placeholder="Cidade" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-7">
                    <label asp-for="Logradouro" class="control-label"></label>
                    <input asp-for="Logradouro"  class="form-control" placeholder="Logradouro" />
                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" placeholder="Número"  />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Bairro" class="control-label"></label>
                    <input asp-for="Bairro"class="form-control" placeholder="Bairro" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
            </div>
            <div class="btn-toolbar text-center" role="group">
                <div class="form-group btn-group w-50 p-3">
                    <input type="submit" value="Editar" class="btn text-light" style="background-color:#d98737" />
                </div>
                <hr />
                <div class="btn-group w-50 p-3">
                    <a class="btn" style="color:#d98737; border: 1px solid #d98737;" asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
