@using MVCBooktopia.Models.Enum
@model MVCBooktopia.Models.LivroModel

@{
    ViewData["Title"] = "Cadastrar Livros";
}

<h1 class="text-center">Cadastrar um novo livro</h1>

<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col">
                <label asp-for="DataLancamento" class="control-label"></label>
                <input asp-for="DataLancamento" class="form-control" />
                <span asp-validation-for="DataLancamento" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" asp-items="@Html.GetEnumSelectList<CategoriaEnum>()" class="form-control"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            </div>
            
            <div class="row">
                <div class="form-group col">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            </div>
            
            <div class="btn-toolbar text-center" role="group">
                <div class="form-group btn-group w-50 p-3">
                    <input type="submit" value="Cadastrar" class="btn text-light" style="background-color:#d98737" />
                </div>
                <hr />
                <div class="btn-group w-50 p-3">
                    <a class="btn text-light" style="background-color:#d98737" asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
