@{
    ViewData["Title"] = "Página inicial";
}

<div class="row">
    <div style="height:150px"></div>
    @*<img src="./css/Imagens/img_inicial.png" />*@
    <div class="col-md-3 col-md-offset-2">
        <section>
            <img src="./css/Imagens/livro.png" height="200" />
        </section>
    </div>
    <div style="width:130px"></div>
    <div class="col-md-7 col-md-offset-2 text-center">
        <section>
            <p class="p-home">Controle de Aluguel<br /> de Livros</p>
        </section>
    </div>
</div>
