@{
    ViewData["Title"] = "Página inicial";
}

<div class="row">
    <div class="col-md-7">
        <h1 class="text-light">
            Bem Vindo(a) ao Booktopia
        </h1>
        <p>
            O mundo dos livros
        </p>
        <a class="btn btn-dark" asp-controller="AluguelModels" asp-action="Index">Alugar</a>
    </div>
    <div class="col-md-3 col-md-offset-2">
    </div>
</div>
